*, *:before, *:after { box-sizing: inherit; }
html { box-sizing: border-box; }
html, body { font-family: "Fira Sans", Helvetica, Arial, sans-serif; }
body { padding: 2ch; }
img {
	width: 100%;
	height: auto;
	max-height: 100vmin;
	max-width: 100vmin;
	margin: auto;
}
form { display: grid; }
figure:fullscreen {
	color: transparent;
	background: white;
	display: grid;
}
figure:fullscreen figcaption {
	display: none;
}
.ctr {
	width: 100vw;
	width: calc(100vw - 8ch);
	height: 100vh;
	height: calc(100vh - 4ch);
	max-width: 60ch;
	margin: auto;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	justify-content: center;
	align-content: center;
	gap: 8px;
	max-height: 100ch;
}
.ctr > output, .ctr > button {
	font-size: 7ch;
	font-size: calc(7ch * var(--scale, 1));
	align-content: center;
	justify-content: center;
	display: inline-grid;
	font-variant: tabular-nums;
}
button {
	border: .1ch solid currentColor;
}
output {
	font-family: monospace;
}
tt, figure output, code {
	word-break: break-all;
}
#add { grid-area: 4 / 3 / 4 / 5; }
#sub { grid-area: 4 / 1 / 4 / 3; }
#dlt {
	grid-area: 2 / 4 / 4 / 4;
	color: gray;
}
#cnt {
	grid-area: 1 / 1 / 4 / 4;
	font-size: 30ch;
	font-size: calc(30ch * var(--scale, 1));
}
#hst:empty::after { content: "so far nothing"; }
dialog { scroll-behavior: smooth; }


.nojs .js { display: none; }
body:not(.nojs) .nojs { display: none; }
@media (max-width: 720px) {
	.ctr {
		height: calc(100vh - 20ch);
	}
	.ctr > output, .ctr > button, .ctr > #cnt {
		font-size: 3ch;
		font-size: calc(3ch * var(--scale, 1));
	}
}
